<style>
body {
    background-color: black;
    color: orange;
    text-align: center;
    border-color: transparent;
    border-width: 30px;
    border-style: solid;
  }
  #main {
  
  }
  #header {
    
  }
  #title {
    font-size: 56px;
    margin: 5px;
  }
  #prof-pic {
    animation: anime 0.8s cubic-bezier(0, 0, 0, 0) 0s infinite alternate forwards running;
  }
    @keyframes anime {
    0% {
    border-color: red;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    }
    25% {
    border-color: yellow;
    border-width: 10px;
    border-style: solid;
    border-radius: 10%;  
    }
    50% {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    }
    75% {
    border-color: rebeccapurple;
    border-width: 10px;
    border-style: solid;
    border-radius: 10%;
    }
    100% {
    border-color: blue;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    }
  }
  #bio {
    margin: 5px;
  }
  #motto {
    color: white;
    font-style: italic;
  }
  #img-div {
  
  }
  #image {
    border-color: orange;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    max-width: 635px;
    display: block;
    margin: auto;
    height: auto;
  }
  #img-caption {
    color: white;
    color: white;
    text-align: center;
    vertical-align: top;
    margin: 8px;
  }
  #img-div-2 {
    
  }
  #image-2 {
    border-color: orange;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    max-width: 635px;
    display: block;
    margin: auto;
    height: auto;
    position: center;
  }
  #img-caption-2 {
    color: white;
    color: white;
    text-align: center;
    vertical-align: top;
    margin: 8px;
  }
  #tribute-box {
    --graybox: rgba(60, 60, 60, 0.312);
    background-color: var(--graybox);
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
  }
  #tribute-title {
    margin: 15px 0px -6px 0px;
  }
  #tribute-info {
    color: white;
    text-align: justify;
    line-height: 30px;
    padding: 8px;
    font-size: 15px;
    font-family: Merriweather;
    font-style: italic;
    font-weight: 450;
  }
  #follow {
    
  }
  #tribute-link {
    
  }
  </style>